body {
    background-color: rgb(87, 7, 44);

  }
  
  h1 {
    color: rgba(240, 238, 238, 0.993);
    font-family: 'Times New Roman';
    text-align: center;
    font-size: 45px;
    
  }
  
  p1 {
    color: rgb(250, 251, 252);
    font-family: 'Franklin Gothic Medium';
    font-size: 25px;
  }
  
.post-image {
    align-items: center;
    margin: 1mm;
    max-height: 300px;
    border-radius: 200px;
    margin-bottom: 3mm;
    box-shadow: 5px 5px 50px pink;
}